
# © COPYRIGHT TO https://github.com/GouthamSER
# © COPYRIGHT TO https://github.com/GouthamSER
# © COPYRIGHT TO https://github.com/GouthamSER
pyrogram==2.0.106
tgcrypto
aiohttp
psutil
python-dotenv
