
# © COPYRIGHT TO https://github.com/GouthamSER
# © COPYRIGHT TO https://github.com/GouthamSER
# © COPYRIGHT TO https://github.com/GouthamSER

pyrogram
tgcrypto
aiohttp
psutil
httpx
uvloop
